/* src/index.css */
/* @import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist"; */

/* --- INTER FONT --- */
 @font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Cinzel';
  src: url('./assets/fonts/Cinzel/Cinzel-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('./assets/fonts/Cinzel/Cinzel-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('./assets/fonts/Cinzel/Cinzel-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} 